<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
  <head>

    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href='{{
    url_for('static',filename='css/base.css') }}'>

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='volt/assets/img/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='volt/assets/img/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"  href="{{ url_for('static', filename='volt/assets/img/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='volt/assets/img/favicon/site.webmanifest') }}">

<!-- Fontawesome -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='volt/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">

<!-- Volt CSS -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='volt/css/volt.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

<!--Lottie Js-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% block head %}{% endblock %}

  </head>
  <body style="background-color:#F6F5FF; opacity:2.1 !important;">

    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <!--<img src="logo.png" alt="">-->
          </span>
          <div class="text logo-text">  
            <div style="display:flex;">
          	<img style="width:30%; height:50%" src="{{ url_for('static', filename='face_logo!.png') }}">
            <span style="padding:10px"class="name">FaceBit</span>
            </div>
            <span class="profession">Keep eye on them</span>
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/professor_index">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
            </li>
            <li class="nav-link">
              <a href="/create-test">
                <i class="bx bxs-file-plus bx-tada bx-flip-horizontal icon"></i>
                <span class="text nav-text">Create Exam</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/generate_test">
                <i class="bx bxs-magic-wand bx-rotate-270 icon"></i>
                <span class="text nav-text">Generate Questions</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/viewquestions">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">View Questions</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/updatetidlist">
                <i class="bx bxs-edit icon"></i>
                <span class="text nav-text">Update Questions</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/deltidlist">
                <i class='bx bxs-message-square-x icon'></i>
                <span class="text nav-text">Delete Question</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/{{session.email}}/disptests">
                <i class='bx bx-history icon' ></i>
                <span class="text nav-text">Exam History</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/livemonitoringtid">
                <i class='bx bx-video icon' ></i>
                <span class="text nav-text">Live Monitoring</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/viewstudentslogs">
                <i class='bx bx-tv icon' ></i>
                <span class="text nav-text">Student Monitoring</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/insertmarkstid">
                <i class='bx bxs-check-square icon' ></i>
                <span class="text nav-text">Insert Marks</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/publish-results-testid">
                <i class='bx bxs-archive-out icon' ></i>
                <span class="text nav-text">Publish Results</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/{{session.email}}/tests-created">
                <i class='bx bx-id-card icon' ></i>
                <span class="text nav-text">Results</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/changepassword_professor">
                <i class='bx bxs-key icon' ></i>
                <span class="text nav-text">Change Password</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#" onclick ="return funLogout()">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
         <li class="mode">
          </li> 
        </div>
      </div>
    </nav>



    <div style="display:flex; justify-content:center; padding-top: 156px">
     
          {% include 'includes/_messages.html' %}
          {% block body %}{% endblock %}
    </div>

    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });


      function funLogout () {
        console.log("logout");

        swal.fire({
        title: 'Are you sure?',
        text: "Do you really want to logout?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, Logout me!',
        cancelButtonText: 'No!',
        confirmButtonColor: '#d33',
        cancelButtonColor: '#202124',
        reverseButtons: true
        }).then((result) => {
        if (result.isConfirmed) {
                    $.ajax({
                          type: "POST",
                          url: "/logout",
                          success: function(response){
                            if(response=="success")
                            {
                            console.log(response);
          window.location.href = "/";
                            }
        }
                      });  
            swal.fire(
            'Success!',
            'You are successfully has been sign out from the system.',
            'success'
          )
        } else if (
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swal.fire(
            'Cancelled',
            'Logout cancelled.',
            'error'
          )
        }
        })
        }
    </script>

    
 <!-- Core -->
 <script src="{{ url_for('static', filename='volt/vendor/@popperjs/core/dist/umd/popper.min.js') }}"></script>
 <script src="{{ url_for('static', filename='volt/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
 
 <!-- Vendor JS -->
 <script src="{{ url_for('static', filename='volt/vendor/onscreen/dist/on-screen.umd.min.js') }}"></script>
 
 <!-- Slider -->
 <script src="{{ url_for('static', filename='volt/vendor/nouislider/distribute/nouislider.min.js') }}"></script>
 
 <!-- Smooth scroll -->
 <script src="{{ url_for('static', filename='volt/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js') }}"></script>
 
 <!-- Charts -->
 <script src="{{ url_for('static', filename='volt/vendor/chartist/dist/chartist.min.js') }}"></script>
 <script src="{{ url_for('static', filename='volt/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
 
 <!-- Datepicker -->
 <script src="{{ url_for('static', filename='volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script>
 
 <!-- Sweet Alerts 2 -->
 <script src="{{ url_for('static', filename='volt/vendor/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
 
 <!-- Moment JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
 
 <!-- Vanilla JS Datepicker -->
 <script src="{{ url_for('static', filename='volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script>
 
 <!-- Notyf -->
 <script src="{{ url_for('static', filename='volt/vendor/notyf/notyf.min.js') }}"></script>
 
 <!-- Simplebar -->
 <script src="{{ url_for('static', filename='volt/vendor/simplebar/dist/simplebar.min.js') }}"></script>
 
 <!-- Github buttons -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
 
 <!-- Volt JS -->
 <script src="{{ url_for('static', filename='volt/assets/js/volt.js') }}"></script>
   
  </body>
</html>
